<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>login_validate1</filter-name>
        <filter-class>tornado.login_validate</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login_validate1</filter-name>
        <url-pattern>/login_validated</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PostAttendence</servlet-name>
        <servlet-class>tornado.PostAttendence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajaxsearch</servlet-name>
        <servlet-class>tornado.Ajaxsearch1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_forward1</servlet-name>
        <servlet-class>tornado.login_forward</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostAttendence</servlet-name>
        <url-pattern>/PostAttendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajaxsearch</servlet-name>
        <url-pattern>/Ajaxsearch1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_forward1</servlet-name>
        <url-pattern>/login_validated</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home_main.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
