body{
	margin:0;
	padding:0;
	background: url(pic.jpg);
	background-size:cover;
	font-family:Roboto;
}
.box{
	position:absolute;
	background:rgba(0,0,0,0.2);
	width:370px;
	height:470px;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:40px 30px 70px 30px;
	border-radius:15px;
        border-style: outset;

}
.logo{
	width:85px;
	height:85px;
	border-radius:50%;
	position:absolute;
	top:-45px;
	left: calc(50% - 45px);
	
}
h1{
	text-align:center;
	font-family:Montserrat;
	font-weight:bold;
	color:#1c8adb;
	font-size:32px;
}
p{
	font-family:Playfair Display;
	font-weight:bold;
	color:	#800000;
	margin:0;
	PADDING:0;
	text-align:center;
	text-transform:uppercase;
}
input{
	width:100%;
	margin-bottom:30px;
	height:30px;
}
input[type="text"],[type="password"]{
		border:none;
		background:rgba(f,f,a,a);
		color:none;
	
		border-radius:7px;
		font-size:16px;
}
input[type="submit"]{
	background:green;
	border:none;
	width:110px;
	height:35px;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	border-radius:20px;
	float:left;
	display:inline;
}
input[type="reset"]
{


        background:red;
	border:none;
	width:110px;
	height:35px;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	border-radius:20px;
	float:left;
	display:inline;
}
a{
	text-decoration:none;
	color:rgb(250,200,200);
	
	padding:3px;
}
input[type="submit"]:hover,[type="reset"]:hover{
	background-color:rgb(250,200,200);
}
